.container {
  height: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  background-color: rgba(0,0,0,0.8);
}

.loader span {
  color: white;
  font-size: 30px;
}

.index span {
  font-size: 18px;
  margin-right: 15px;
}
